<h1>All Users</h1>
 
<table>
  <tr>
    <th>email</th>
    <th>projects</th>
    <th></th>
  </tr>
 
<% @users.each do |user| %>
  <tr>
    <td><%= user.email %></td>
    <td>
      <% user.projects.each do |project| %>
        <span><%= project.title %>, </span>
      <% end %>
    </td>
    <td><%= link_to "Delete", user_registration_path, method: :delete, data: { confirm: "Are you sure?" } %></td>
  </tr>
<% end %>
</table>