<div class="padding-about">
	<h1>About Us</h1>
</div>

<p>
  Māk was born on the University of California, Berkeley campus in September 2015 with a simple idea. <br>
  Ankita, Michelle, and Aubrey wanted to change the educational landscape of urban high schools in the Bay Area by introducing valuable 3D printing skills. <br>
  Māk is currently competing in the final round of the Big Ideas at Berkeley competition and will be attending the Clinton Global Initiative University 2016 conference at UC Berkeley.
</p>
			<div class="row">
				<div class="col-md-8 col-md-offset-2">
					<h1 class="chain2">Founders</h1>
</p>
	<div class="container-fluid">
			<div class="row">
				<div class="col-md-8 section-1a nopadding" id="work">
				</div>
				<div class="col-md-4 section-text nopadding">
					<div class="wp4">
						<h2 class="frame2">Ankita Joshi <br></h2>
						<div class="subtext">CEO <br> B.S. Mechanical Engineering, UC Berkeley, Class of 2017</div>
						<p>Ankita is a mechanical design intern for the Berkeley Emergent Space Tensegrities Lab and NASA Ames Research. Previously, she studied human centered design and its use for social impact through the Berkeley Energy and Sustainable Technologies Lab, and founded a student organization called Socially Engaged Engineers (SEE) which focuses on the use of engineering and technology for social justice.</p>
						<div class="thin-sep"></div>
					</div>
					
				</div>
			</div>
			<div class="row">
				<div class="col-md-4 section-text nopadding">
					<div class="wp5">
						<h2 class="mech2">Aubrey Larson <br></h2>
						<div class="subtext">COO <br> B.S. Public Health, Community Development, UC Berkeley, Class of 2016</div>
						<p>Aubrey Larson is involved in a income-generating project in Swaziland that works specifically with women of vulnerable communities. Aubrey has a previous background working for nonprofits in South Africa and Swaziland and is passionate about community development and the importance of cultural context.</p>
						<div class="thin-sep"></div>
					</div>
				</div>
				<div class="col-md-8 section-2a nopadding">
				</div>
			</div>
		</div>
		<div class="row">
				<div class="col-md-8 section-3a nopadding" id="work">
				</div>
				<div class="col-md-4 section-text nopadding">
					<div class="wp4">
						<h2 class="frame2">Michelle Nie <br></h2>
						<div class="subtext"> CFO <br> B.S. Business Administration, UC Berkeley Haas School of Business, Class of 2017</div>
						<p>Michelle is the President of 100 Strong, a female mentorship organization empowering underserved young girls to become leaders through designing community projects. Michelle was previously a Summer Fellow through New Sector Alliance, working on a human resources consulting project for Reading Partners. She has also served as a mentor for CollegeSpring, teaching the SAT to underserved high school students and guiding them through the college applications process.</p>
						<div class="thin-sep"></div>
				</div>
			</div>

