<h1>Info#about</h1>
<p>
  In 2015, Māk was founded by three UC Berkeley undergraduate students: Ankita Joshi (Mechanical Engineering), Michelle Nie (Business Administration), and Aubrey Larson (Public Health). 
  The founders developed Māk as a project for the Haas School of Business' Social Entrepreneurship class and therefore have created a detailed business and social impact plan. 
  The founders have been accepted to the Clinton Global Initiative University conference in 2016, and are finalists in the Big Ideas at Berkeley competition for the 2015-16 cycle. 
</p>
