<div class="campinile"></div>
<div class="padding-right">
<h1 style="text-align: center;"> About Us </h1>

<h1 id="problem-anchor"> Problelm & Opportunity </h1>


<div>
<p><%= image_tag("problemandopportunity.jpg", :alt => "ourproblem") %></p>
<br></br>
</div>
<p><%= image_tag("theneed.jpg", :alt => "theneed") %></p>
<br></br>
<h1 id="approach-anchor"> Our Approach and Story </h1>
<p><%= image_tag("theprogram.jpg", :alt => "theprogram") %></p>
<br></br>
<p><%= image_tag("history.jpg", :alt => "ourhistory") %></p>
<br></br>

<h1>Projects</h1>
<p class="bolder-print" style="font-size:1.5em"> We aim to provide experiential learning to our youth through the 3-month internship, during which they work on real-world design projects. We are currently looking for technology startups, architecture firms, design firms, and research labs to outsource 3D design work to our students. If you are interested in proposing a project for your company, please let us know <a href="https://docs.google.com/a/berkeley.edu/forms/d/e/1FAIpQLSdcIycWIOcUOMBy64-bZAAU4_dusZt3I9hIVdQc6RKwp0krHA/viewform">here</a>.</p>



<div class="row">

    <div id="sync1" class="owl-carousel">
      <div class = "owl-item"><div class = "circular-ankita"> </div></div>
      <div class = "owl-item"><div class = "circular-michelle"> </div></div>
      <div class = "owl-item"><div class = "circular-aubrey"> </div></div>
      <div class = "owl-item"><div class = "circular-mariana"> </div></div>
      <div class = "owl-item"><div class = "circular-ashlee"> </div></div>
      <div class = "owl-item"><div class = "circular-alejandro"> </div></div>
      <div class = "owl-item"><div class = "circular-Sabelhaus"> </div></div>
    </div>

</div>


<div class="row">
  
   <div id = "sync2" class="owl-carousel">
         <div class="owl-item">
           <h2 style="text-align: center;">Ankita Joshi, CEO  </h2>
          <div class = "circular-ankita"></div>
          <h3>B.S. Mechanical Engineering, UC Berkeley, Class of 2017</h3>
          <p class="bolder-print" style="font-size:19px;">Ankita is a mechanical design intern for the Berkeley Emergent Space Tensegrities Lab and NASA Ames Research. Previously, she studied human centered design and its use for social impact through the Berkeley Energy and Sustainable Technologies Lab, and founded a student organization called Socially Engaged Engineers (SEE) which focuses on the use of engineering and technology for social justice.</p>
        </div>
        <div class="owl-item">
           <h2 style="text-align: center;"> Michelle Nie, CFO</h2>
           <div class = "circular-michelle"></div>
           <h3>B.S. Business Administration, UC Berkeley Haas School of Business, Class of 2017</h3>
          <p class="bolder-print" style="font-size:19px;">In addition to leading the financial operation of Māk, Michelle is currently a Treasury Intern for Salesforce. She was previously President of 100 Strong, a female mentorship organization empowering underserved young girls to become leaders through designing community projects. Michelle was also previously a Summer Fellow through New Sector Alliance, working on a human resources consulting project for Reading Partners.</p>
         </div>
         
         <div class="owl-item">
           <h2 style="text-align: center;"> Aubrey Larson, COO </h2>
           <div class = "circular-aubrey">
           </div>
           <h3>B.S. Public Health, Community Development, UC Berkeley, Class of 2016</h3>
           <p class="bolder-print" style="font-size:19px;">Aubrey Larson is involved in a income-generating project in Swaziland that works specifically with women of vulnerable communities. Aubrey has a previous background working for nonprofits in South Africa and Swaziland and is passionate about community development and the importance of cultural context.</p>
         </div>
         
         <div class="owl-item">
            <h2 style="text-align: center;">Mariana Somma, Board Member </h2>
            <!--<div class=" col-xs-4 col-xs-offset-4 col-md-4 coll-md-offset-4"> -->
            <div class="container-fluid">
            <div class = "circular-mariana" style="vertical-align: center;"></div>
            <h3>MS Industrial Design, ArtCenter College of Design; MBA, Claremont</h3>
            </div>
            <!--</div> -->
            <br>
            <p class="bolder-print" style="font-size:19px;">Mariana is an experience designer, strategist, and consultant passionate about helping companies and organizations incorporate human-centered design strategies in meeting their business goals. She currently is collaborating on launching a management consulting firm focused on employer branding, recruiting strategies, and experience design, and lectures in design-thinking and innovation at the Haas School of Business, UC Berkeley. Previously, she facilitated design-led business solutions for companies including Turner Broadcasting, and Nike Foundation. Before that she was a designer with architecture firm Skidmore, Owings, and Merrill (SOM). Mariana holds an MS in Industrial Design from ArtCenter College of Design, and an MBA from Claremont University.</p>
         </div>
         
         <div class="owl-item">
            <h2 style="text-align: center;"> Ashlee Horn, COO </h2>
            <div class = "circular-ashlee">
            </div>
            <h3>B.S.Bioengineering, Community Development, UC Berkeley, Class of 2016 </h3>
            <p class="bolder-print" style="font-size:19px;">Ashlee is in her fourth year at Berkeley, studying Bioengineering. She is a Biomedical engineering intern at IPMD, Inc. Previously, Ashlee has worked on projects including bioprinting of hydrogels and making low-cost spirometers. She is also involved in Socially Engaged Engineers (SEE), a club which focuses on merging STEM and social justice. </p>
         </div>
         
         <div class="owl-item">
            <h2 style="text-align: center;"> Alejandro Garcia, Web Developer</h2>
            <div class = "circular-alejandro">
            </div>
            <h3>B.S. Computer Science, UC Berkeleyc Class of 2015 </h3>
            <p class="bolder-print" style="font-size:19px;">Alejandro is a recent UC Berkeley Graduate with a degree in Computer Science. Currently he is working at Wells Fargo as a Quality Assurance Engineer. He's passionate about education and spent the majority of his undergrad volunteering with BUILD to help at risk youth in Oakland improve their literacy.  Long-term he wants to teach STEM related subjects to students at high-schools that traditionally don’t have high graduation rates..</p>
         </div>
         
         <div class="owl-item">
           <h2 style="text-align: center;"> Drew (Andrew P.) Sabelhaus</h2>
            <div class = "circular-Sabelhaus">
            </div>
            <h3>M.S. Mechanical Engineering, UC Berkeley, 2014 </h3>
            <p class="bolder-print" style="font-size:19px;">Drew is a PhD student in Mechanical Engineering at UC Berkeley, and a NASA Space Technology Research Fellow at the NASA Ames Research Center Intelligent Robotics Group.
He studies the design and control of tension-network ("tensegrity") backbones for walking four-legged robots. Drew works on diversity and inclusion in engineering, particularly for LGBTQ engineers, both at UC Berkeley and on the national level of the American Society of Mechanical Engineers (ASME). His C.V. and past work are online at www.apsabelhaus.com.</p>
           
         </div>
       </div>
       
       
</div>


<!--
<div class="row">
  <h1 id="team-anchor"> Our Team </h1>
  <div class="col-xs-4 col-md-4">
    <div class = "jumbotron founder-jumbos">
      <h2 style="text-align: center;">Ankita Joshi, CEO  </h3>
      <div class = "circular-ankita">
      </div>
      <h3>B.S. Mechanical Engineering, UC Berkeley, Class of 2017</h3>
      <p class="bolder-print" style="font-size:19px;">Ankita is a mechanical design intern for the Berkeley Emergent Space Tensegrities Lab and NASA Ames Research. Previously, she studied human centered design and its use for social impact through the Berkeley Energy and Sustainable Technologies Lab, and founded a student organization called Socially Engaged Engineers (SEE) which focuses on the use of engineering and technology for social justice.</p>
    </div>
  </div>
  
  <div class="col-xs-4 col-md-4">
    <div class = "jumbotron founder-jumbos">
      <h2 style="text-align: center;"> Aubrey Larson, COO </h3>
      <div class = "circular-aubrey">
      </div>
      <h3>B.S. Public Health, Community Development, UC Berkeley, Class of 2016</h3>
      <p class="bolder-print" style="font-size:19px;">Aubrey Larson is involved in a income-generating project in Swaziland that works specifically with women of vulnerable communities. Aubrey has a previous background working for nonprofits in South Africa and Swaziland and is passionate about community development and the importance of cultural context.</p>
    </div>
  </div>

  <div class="col-xs-4 col-md-4">
    <div class = "jumbotron founder-jumbos">
      <h2 style="text-align: center;"> Michelle Nie, CFO</h3>
      <div class = "circular-michelle">
      </div>
        <h3>B.S. Business Administration, UC Berkeley Haas School of Business, Class of 2017</h3>
        <p class="bolder-print" style="font-size:19px;">In addition to leading the financial operation of Māk, Michelle is currently a Treasury Intern for Salesforce. She was previously President of 100 Strong, a female mentorship organization empowering underserved young girls to become leaders through designing community projects. Michelle was also previously a Summer Fellow through New Sector Alliance, working on a human resources consulting project for Reading Partners.</p>
    </div>
  </div>


  <div class="row">
  <div class="col-xs-4 col-md-4">
    <div class = "jumbotron founder-jumbos">
      <h2 style="text-align: center;">Mariana Somma, Board Member  </h3>
      <div class = "circular-mariana">
      </div>
      <h3>MS Industrial Design, ArtCenter College of Design; MBA, Claremont</h3>
      <p class="bolder-print" style="font-size:14px;">Mariana is an experience designer, strategist, and consultant passionate about helping companies and organizations incorporate human-centered design strategies in meeting their business goals. She currently is collaborating on launching a management consulting firm focused on employer branding, recruiting strategies, and experience design, and lectures in design-thinking and innovation at the Haas School of Business, UC Berkeley. Previously, she facilitated design-led business solutions for companies including Turner Broadcasting, and Nike Foundation. Before that she was a designer with architecture firm Skidmore, Owings, and Merrill (SOM). Mariana holds an MS in Industrial Design from ArtCenter College of Design, and an MBA from Claremont University.</p>
    </div>
  </div>
  
  <div class="col-xs-4 col-md-4">
    <div class = "jumbotron founder-jumbos">
      <h2 style="text-align: center;"> Ashlee Horn, COO </h3>
      <div class = "circular-ashlee">
      </div>
      <h3>B.S. Public Health, Community Development, UC Berkeley, Class of 2016 </h3>
      <p class="bolder-print" style="font-size:19px;">Ashlee is in her fourth year at Berkeley, studying Bioengineering. She is a Biomedical engineering intern at IPMD, Inc. Previously, Ashlee has worked on projects including bioprinting of hydrogels and making low-cost spirometers. She is also involved in Socially Engaged Engineers (SEE), a club which focuses on merging STEM and social justice. </p>
    </div>
  </div>

  <div class="col-xs-4 col-md-4">
    <div class = "jumbotron founder-jumbos">
      <h2 style="text-align: center;"> Alejandro Garcia, Web Developer</h3>
      <div class = "circular-alejandro">
      </div>
        <h3>B.S. Computer Science, UC Berkeleyc Class of 2015 </h3>
        <p class="bolder-print" style="font-size:19px;">Alejandro is a recent UC Berkeley Graduate with a degree in Computer Science. Currently he is working at Wells Fargo as a Quality Assurance Engineer. He's passionate about education and spent the majority of his undergrad volunteering with BUILD to help at risk youth in Oakland improve their literacy.  Long-term he wants to teach STEM related subjects to students at high-schools that traditionally don’t have high graduation rates..</p>
    </div>
  </div>
  </div>
  -->
