<!-- This is the big ass main image -->
<div class="padding-top"></div>
<div class="hero"></div>
<div class="padding-right">

<div class="row">
	<h1>News</h1>
	<div class="col-md-4 cold-md-offset-2">
		<p>August 2016 - We are looking for mentors for the 2016-17 school year. If you are a UC Berkeley student skilled in CAD and passionate about making a social impact, please apply <a href="http://bit.ly/makapp2016">here</a> </p>
	</div>
	<div class ="col-md-6">
		<p>April 2016 - Māk is the 1st Place winner of Big Ideas at Berkeley in the Financial Inclusion category! To read more, check out the <a href="http://bigideas.berkeley.edu/contests/financial-inclusion/">Big Ideas website</a></p>
	
		<p>March 2016 - We are proud to represent Māk at the Clinton Global Initiative University conference at UC Berkeley! Read more in the <a href="http://news.berkeley.edu/2016/03/29/uc-berkeley-to-host-clinton-global-initiative-university/">Berkeley News.</a></p>
	</div>
</div>


<div class="row">
	<h1> Get Involved </h1>

	<div class="col-md-6">
	<p>Students: We provide extensive, personalized training in 3D design and CAD to high school students in the Bay Area. Māk students participate in a 3-month training program in the fall and then a part-time 3-month internship in the spring where they work on design projects for real startups and research labs. Interested in participating in our program? Tell us <a href="#">here!</a></p>

	<p>Mentors: We provide a community of engaged and passionate UC Berkeley students skilled in CAD. All our mentors earn 2 units while participating in our program, which includes meeting at Oakland Tech once a week. Want to join us as a mentor? Apply <a href="#">here!</a>”</p>
	</div>
	<div class="col-md-6">
	<p>Businesses: Māk can help you complete high-quality 3D design projects, whether you work for a startup or a research lab. All Māk students are supervised by top UC Berkeley engineering and architecture students, and Māk has unparalleled guidance from world-class faculty and engineering departments at Berkeley. Through our partners, we have access to state-of-the-art equipment including 3D printers, Autodesk Fusion 360, Macs, and Wacom drawing tablets. Interested in submitting a project to us? Tell us <a href="#">here!</a> </p>

	<p>We are currently partnering with the Oakland Technical High School’s Fashion, Art, and Design Academy. We are looking to expand to other Bay Area high schools soon. Interested in bringing Māk to your school? Tell us <a href="#">here!</a></p>
	</div>
</div>

<div>
	<h1>Partners</h1>
	<p> Well we'll have a huge ass baner here apparently - _ - </p>
</div>



<footer id="contact">
	<div class="container">
		<div class="row">
			<div class ="col-md-6">
				<h3> About us </h3>
				<ul>
					<li><a href="#">Problem</a></li>
					<li><a href="#">Approach</a></li>
					<li><a href="#">Our Team</a></li>
				</ul>
			</div>

			<div class ="col-md-6">
				<h3> Get Involved </h3>
				<ul>
					<li><a href="#">Mentor</a></li>
					<li><a href="#">Donate</a></li>
					<li>Contact Us</li>	
				</ul>		
				<p><span class="bold-16p">UC Berkeley</span><br>
				336 Sproul Hall<br>
				Berkeley, CA 94720 - <a href="#">ankita@makelabs.org</a>
				</p>
			</div>
		</div>
	</div>
</footer>



</div>
		<div class="container-fluid intro" id="about">
			<div class="row">
				<div class="col-md-8 col-md-offset-2">
					<h1 class="chain">Purpose</h1>
					<p class="text-intro">Māk is a social enterprise devoted to empowering urban low-income high school students to become designers. Māk students learn 3D design through an intensive training program. Māk then hires the students as interns to work on projects for partner startups, setting them up for future careers.
</p>
				</div>
			</div>
		</div>
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-8 section-1 nopadding" id="work">
					<!--<div class="logo-1 wp1"></div>-->
				</div>
				<div class="col-md-4 section-text nopadding">
					<div class="wp4">
						<h2 class="frame">Training Program</h2>
						<p>Māk students are urban high school students who learn 3D design through an intensive training program.</p>
						<div class="thin-sep"></div>
					</div>
					<!--<div class="small-featured-img seat-red">-->
					<!--	<div class="arrow"></div>-->
					<!--</div>-->
				</div>
			</div>
			<div class="row">
				<div class="col-md-4 section-text nopadding">
					<div class="wp5">
						<h2 class="mech">Internship Program</h2>
						<p>We then train students as interns to work on projects for partner startups, setting them up for future careers.</p>
						<div class="thin-sep"></div>
					</div>
					<!--<div class="small-featured-img seat-black">-->
					<!--	<div class="arrow"></div>-->
					<!--</div>-->
				</div>
				<div class="col-md-8 section-2 nopadding">
					<!--<div class="logo-2 wp2"></div>-->
				</div>
			</div>
		</div>
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-4 section-3">
					<!--<div class="logo-3 wp3"></div>-->
				</div>
				<div class="col-md-4 section-text nopadding">
					<div class="wp6">
						<h2 class="front-frame">Career Track</h2>
						<p> We pair students with mentors in different industries to launch their education and careers in STEAM.</p>
						<div class="thin-sep"></div>
					</div>
					<!--<div class="small-featured-img frame-red">-->
					<!--	<div class="arrow"></div>-->
					<!--</div>-->
				</div>
				<div class="col-md-4 section-4"></div>
			</div>
		</div>
	<section class="flex-container">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="flexslider">
							<ul class="slides">
								<li>
									<div class="flex-twitter-icon"></div>
									<h2 class="twitter-post-username">
									<a href="#">Ankita - CEO</a> <span>/ B.S. Mechanical Engineering, UC Berkeley Class of 2017</span>
									</h2>
									<p class="twitter-post">Ankita is a mechanical design intern for the Berkeley Emergent Space Tensegrities Lab and NASA Ames Research. Previously, she studied human centered design and its use for social impact through the Berkeley Energy and Sustainable Technologies Lab, and founded a student organization called Socially Engaged Engineers (SEE) which focuses on the use of engineering and technology for social justice.</p>
								</li>
								<li>
									<div class="flex-twitter-icon"></div>
									<h2 class="twitter-post-username">
									<a href="#">Michelle - CFO</a> <span>/ B.S. Business Administration, UC Berkeley Haas School of Business Class of 2017</span>
									</h2>
									<p class="twitter-post">Michelle is the President of 100 Strong, a female mentorship organization empowering underserved young girls to become leaders through designing community projects. Michelle was previously a Summer Fellow through New Sector Alliance, working on a human resources consulting project for Reading Partners. She has also served as a mentor for CollegeSpring, teaching the SAT to underserved high school students and guiding them through the college applications process. </p>
								</li>
								<li>
									<div class="flex-twitter-icon"></div>
									<h2 class="twitter-post-username">
									<a href="#">Aubrey - COO</a> <span>/ B.S. Public Health, Community Development, UC Berkeley, Class of 2016</span>
									</h2>
									<p class="twitter-post">Aubrey Larson is involved in a income-generating project in Swaziland that works specifically with women of vulnerable communities. Aubrey has a previous background working for nonprofits in South Africa and Swaziland and is passionate about community development and the importance of cultural context. </p>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		<section class="sign_up">
			<div class="container">
				<div class="row">
					<div class="col-md-6 col-md-offset-3 sign-up">
						<h2 class="logo-header">Subscribe</h2>
						<form name="signup-form">
							<input class="signup-input" type="email" name="email_address" value="" placeholder="enter your email..." title="Please enter a valid email address." required>
							<button type="submit" class="submit-btn">GO</button>
						</form>
					</div>
				</div>
			</div>
		</section>