<h1>Home</h1>
<p>
  For more information:
  If you are a 
  <a href="http://www.mak-169.herokuapp.com/info/client">client</a>, 
  if you are a
  <a href="http://www.mak-169.herokuapp.com/info/mentor">mentor</a>,
  if you are a 
  <a href="http://www.mak-169.herokuapp.com/info/student">student</a>.
  If you want to look at some of our past
  <a href="http://www.mak-169.herokuapp.com/info/projects">projects</a>,
  or would like to know more about 
  <a href="http://www.mak-169.herokuapp.com/info/about">who we are</a>.
</p>
