		<footer id="contact">
			<div class="container">
				<div class="row">
					<div class="col-md-4 footer-leftcol">
						<p><span class="bold-16p">UC Berkeley</span><br>
						336 Sproul Hall<br>
						Berkeley, CA 94720 - <a href="#">ankita@makelabs.org</a>
						</p>
					</div>
					<div class="col-md-4 footer-midcol">
						<ul>
							<li><a </a></li>
							<li><a </a></li>
							<li><a </a></li>
						</ul>
						<div class="clearfix"></div>
					</div>
					<!--<div class="col-md-4 footer-rightcol">-->
					<!--	<p>Designed by <a href="#"><%= image_tag "yebo-icon.png", alt: "Yebo Logo" %></a></p>-->
					<!--	<p class="nopadding">Developed by <a href="http://www.peterfinlan.com/">Peter Finlan</a></p>-->
					<!--</div>-->
				</div>
			</div>
		</footer>