		<footer id="contact">
			<div class="container">
				<div class="row">
					<div class="col-md-4 footer-leftcol">
						<p><span class="bold-16p">AOD New York</span><br>
						2250 Lexington Avenue<br>
						New York, NY 10035 - <a href="#">info@domain.com</a>
						</p>
					</div>
					<div class="col-md-4 footer-midcol">
						<ul>
							<li><a href="#" class="twitter-icon">Twitter</a></li>
							<li><a href="#" class="facebook-icon">Facebook</a></li>
							<li><a href="#" class="pintrest-icon">Pintrest</a></li>
						</ul>
						<div class="clearfix"></div>
					</div>
					<!--<div class="col-md-4 footer-rightcol">-->
					<!--	<p>Designed by <a href="#"><%= image_tag "yebo-icon.png", alt: "Yebo Logo" %></a></p>-->
					<!--	<p class="nopadding">Developed by <a href="http://www.peterfinlan.com/">Peter Finlan</a></p>-->
					<!--</div>-->
				</div>
			</div>
		</footer>