<footer id="contact">
	<div class="container">
		<div class="row">
			<div class ="col-md-6">
				<h3> About us </h3>
				<ul>
					<li><a href="/info/about#problem-anchor">Problem & Opportunity</a></li>
					<li><a href="/info/about#approach-anchor">Approach & Story</a></li>
					<li><a href="/info/about#team-anchor">Our Team</a></li>
				</ul>
			</div>

			<div class ="col-md-6">
				<h3> Get Involved </h3>
				<ul>
					<li><a href="#">Mentor</a></li>
					<li><a href="/contacts/new">Contact Us</li>	
					<li>
					<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
					<input type="hidden" name="cmd" value="_s-xclick">
					<input type="hidden" name="hosted_button_id" value="SFQE7W8TNWPQS">
					<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
					<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
					</form>
					</li>
				</ul>		
				<p><span class="bold-16p">UC Berkeley</span><br>
				336 Sproul Hall<br>
				Berkeley, CA 94720 - <a href="#">ankita@makelabs.org</a>
				</p>
			</div>
		</div>
	</div>
</footer>
