<footer id="contact">
	<div class="container">
		<div class="row">
			<div class ="col-md-4">
				<h3> About us </h3>
				<ul style="list-style-type: none;">
					<li><a href="/info/about#problem-anchor">Problem & Opportunity</a></li>
					<li><a href="/info/about#approach-anchor">Approach & Story</a></li>
					<li><a href="/info/about#team-anchor">Our Team</a></li>
				</ul>
			</div>

			<div class ="col-md-4">
				<h3> Get Involved </h3>
				<ul style="list-style-type: none; margin:0px;">
					<li><a href="https://docs.google.com/a/berkeley.edu/forms/d/e/1FAIpQLScDB9navJ7j5WhNZZJmgweuG7opO1jJb38je7nASn0JKNBqbA/viewform?c=0&w=1">Mentor</a></li>
					<li><a href="/contacts/new">Contact Us</li>	
				</ul>
				<form target="paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post">
					<input type="hidden" name="cmd" value="_s-xclick">
					<input type="hidden" name="hosted_button_id" value="SFQE7W8TNWPQS">
					<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
					<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
				</form>
			</div>
			<div class="col-md-4">		
				<p><span class="bold-16p">UC Berkeley</span><br>
				336 Sproul Hall<br>
				Berkeley, CA 94720 - <a href="#"> ankita@maklabs.org</a>  <!-- generate a mail to link LOL? -->
				</p>
			</div>
		</div>
	</div>
</footer>
